<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riñones al disco</title>
</head>

<body>
    <h1>Riñones al disco</h1>
    <p>Descripcion</p>
    <hr>
    <h2>Ingredientes:</h2>
    <ul>
        <li>1 riñón</li>
        <li>1 Kg papa</li>
        <li>Perejil</li>
        <li>ajos</li>
        <li>Cebolla de verdeo</li>
        <li>Sal y pimienta</li>
        <li>Aceite de oliva</li>
        <li>Vino blanco</li>
    </ul>
    <h3>Paso a paso</h3>
    <ol>
        <li>Limpiamos el riñón, le sacamos la membrana y la grasa está la guardamos para limpiar el disco. Cortamos el
            riñón (la medida es de un dedo aproximadamente)</li>
        <li>En un bowl ponemos el jugo de dos limones, ajo, perejil y un chorro de vino blanco agregamos los riñones
            cortados y lo dejamos en la heladera reposar al menos 1 hr.</li>
        <li>Mientras están en la heladera, podemos picar el ajo y perejil, cortar la cebolla de verdeo. Opcional yo
            limpie un kilo de papas, las corté y las frite para ganar tiempo.</li>
        <li>Limpiamos el disco con la grasa que guardamos, ponemos aceite de oliva o girasol, cuando esté caliente
            ponemos los riñones en el disco. (No ponerlos en el medio) dejamos que se doren 5 minutos de cada lado
            aproximadamente. Luego agregamos la cebolla de verdeo en el medio y ahí si, juntamos todo en el medio hasta
            que la cebolla de verdeo este cocinada.</li>
        <li>Agregamos el ajo y perejil, después de dos minutos ponemos un chorro de vino blanco y dejamos que se
            evapore...en los bordes yo agregué las papas para que se calentaran pero ya están cocinadas, esperar a que
            estén calientes y servir.</li>
    </ol>
    <hr>
    <a
        href="https://cookpad.com/ar/recetas/14163373-rinones-a-la-provenzal-en-el-disco?ref=search&search_term=ri%C3%B1ones+al+disco">Receta
        original</a><br>
    <a href="">Siguiente receta</a><br>
    <a href="../../index.html">Inicio</a>
</body>

</html>