<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Pollo al disco</title>
</head>

<body>
    <h1 class="titulo_receta">Pollo al disco</h1>
    <img src="../img/pollo-al-disco.jpg" alt="pollo-al-disco" width="500" height="250">
    <p class="descripcion_receta">El <strong>pollo al disco</strong> es un plato de pollo en salsa que se cocina en un
        disco de arado, de ahí su nombre. ¿Qué es un
        disco de arado? Seguro que si vives en Argentina lo conoces perfectamente, pero fuera del país quizá no lo hayas
        visto aún. Se trata de una olla de hierro con tapa que viene con unas patas y que se utiliza para cocinar en
        fuego de leña, lo que da a los guisos un sabor único.

        Lo cierto es que el <b>pollo al disco</b> es muy versátil y lo puedes hacer de mil y una maneras diferentes. En
        la
        receta te detallamos la que más nos gusta hacer. Ponle las verduras que te apetezcan, siempre teniendo en cuenta
        los tiempos de cocción. Para la salsa, le hemos puesto cerveza, pero se puede cocinar con vino o incluso sidra.
        Y si no quieres alcohol, hazlo con caldo de pollo.
    </p>
    <hr>
    <h2 class="titulo_receta">Ingredientes:</h2>
    <ul>
        <li>4 cuartos traseros de pollo</li>
        <li>Sal</li>
        <li>Pimienta negra molida</li>
        <li>2 cebollas</li>
        <li>1 puerro (opcional)</li>
        <li>1 pimiento verde</li>
        <li>1 pimiento rojo</li>
        <li>2 zanahorias</li>
        <li>300 g de papa (opcional)</li>
        <li>300 g de boniato (opcional)</li>
        <li>3 o 4 dientes de ajo</li>
        <li>4-6 cucharadas de aceite de oliva</li>
        <li>½ limón</li>
        <li>1 cucharadita de pimentón</li>
        <li>1 cucharada de orégano</li>
        <li>200 g de tomate triturado (opcional)</li>
        <li>500 ml de cerveza (caldo de pollo, vino blanco, sidra o agua)</li>
        <li>2 hojas de laurel</li>
        <li>100 g de guisantes</li>
    </ul>
    <h3 class="titulo_receta">Cómo hacer pollo al disco</h3>
    <ol>
        <li>Limpiar, trocear y salpimentar el pollo.</li>
        <li>Cortar en tiras la cebolla, el puerro el pimiento verde y el rojo, en rodajas la zanahoria, en dados la
            patata y el boniato, y picar los ajos.</li>
        <li>Retirar el pollo y sofreír la cebolla, el puerro y los pimientos.</li>
        <li>Retirar y rehogar la zanahoria con las patatas y el boniato un par de minutos.</li>
        <li>Añadir el ajo, rehogar un par de minutos, reincorporar el pollo y las verduras, condimentar con pimentón,
            pimienta y orégano, agregar el tomate y dejar que reduzca.</li>
        <li>Cubrir con la cerveza y añadir el laurel.</li>
        <li>Cocer 1 hora, rectificando de sal y añadiendo los guisantes los últimos 10 minutos.</li>
    </ol>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-lSEUaUdKdE?si=wqStANdU9U3v5cbo"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <hr>
    <a href="https://www.bonviveur.es/recetas/pollo-al-disco">Receta original</a><br>
    <a href=""><em>Siguiente receta</em></a><br>
    <a href="../../index.html">inicio</a>
</body>

</html>